:root {
}

.mob-only {
  display: none;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  direction: rtl;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-family: var(--font-heebo);
  font-weight: 400;
  color: #000;
  --card-accent: rgba(232, 238, 246, 1);
  --light-accent: rgba(247, 250, 254, 1);
  --accent-color: #1e8483;
  --accent-color-light: #259492;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding-bottom: 50px;
  background: linear-gradient(
    177.79deg,
    rgba(0, 0, 0, 0) 15.68%,
    rgba(0, 0, 0, 0.5) 98.27%
  );
}

.container {
  width: 1608px;
  margin: 0 auto;
}

.about-content .icon {
  width: 44px;
  height: 44px;
}

ul {
  list-style: none;
}

.rtl-wrapper strong:first-of-type {
  margin-left: 5px;
}

.portfolio-card-image {
  width: 516px;
  height: 300px;
  position: relative;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.top-line.fixed {
  position: fixed;
  z-index: 123;
  width: 100%;
}

.top-line.fixed .top-line-content {
  height: 98px;
  justify-content: flex-end;
}

.top-line-content {
  padding: 12.5px 0;
}

.logo {
  width: 146px;
  height: 73px;
}

.top-line a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.hero-composition {
  flex: 1;
  display: flex;
}

.hero-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 84px;
  font-weight: 700;
  line-height: 94px;
  text-align: center;
}

h1 > span {
  color: var(--accent-color);
}

.hero-content p {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin: 20px 0;
}

.hero-content button {
  margin: auto;
}

button {
  background-color: var(--accent-color);
  background-size: 200% 100%;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  padding: 13px 25px;
  cursor: pointer;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

button:hover {
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: var(--accent-color-light);
}

.portfolio-card button,
.top-line button {
  font-size: 20px;
}

.top-line button {
  padding: 11px 25px;
}

.hero-gallery-cotnainer {
  position: relative;
}

.hero-gallery {
  justify-content: center;
}

.hero-gallery_item {
  width: 300px;
  height: 92px;
  margin: 0 12px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(16px);
  flex-flow: row-reverse;
  padding: 0 3px;
  user-select: none;
}

.hero-gallery-text {
  display: flex;
  flex-direction: column;
}

.hero-gallery-image {
  overflow: hidden;
  border-radius: 16px;
  height: 95%;
  width: 40%;

  /* transform: scale(1); */
}

.hero-gallery_item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  /* transform: scale(0.9); */
}

.hero-gallery_item:hover img {
  transform: scale(1.1);
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.hero-gallery_item:hover {
  backdrop-filter: blur(16px);
  animation: blured 0.4s ease-in-out;
}

.hero-gallery-text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.hero-gallery-text span {
  font-size: 18px;
}

.metrics .container {
  width: 1408px;
}

.metrics ul {
  flex-direction: row-reverse;
  padding: 30px 0;
}

.metrics ul li {
  display: flex;
  flex-direction: column;
  color: var(--accent-color);
}

.metrics ul li strong {
  font-size: 64px;
  font-family: var(--font-pt-serif);
}

section {
  padding: 110px 0;
}

section.accent {
  background: var(--light-accent);
}

h2 {
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}

section .container > p {
  font-size: 24px;
  text-align: center;
}

.button-container {
  margin-top: 30px;
  text-align: center;
}

.about-content {
  margin-top: 49px;
  gap: 20px;
  align-items: stretch;
}

.about-image img {
  border-radius: 20px;
}

.about-content ul {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 24px;
}

.about-content ul li {
  background: var(--card-accent);
  border-radius: 20px;
  padding: 24px;
}

.about-content ul li strong {
  font-size: 32px;
  line-height: 40px;
}

.about-content .icon {
  width: 43px;
  height: 43px;
  background: #c7ebea;
  border-radius: 7px;
  display: flex;
  margin-bottom: 10px;
}

.about-content .icon img {
  margin: auto;
}

.process-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.process-content {
  margin-top: 66px;
}

.process-content ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 66px 32px;
}

.process-content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-content ul li strong {
  font-size: 32px;
}

.process-content ul li span {
  display: inline-block;
  text-align: center;
  color: black;
}

.process-content .image {
  position: relative;
  width: 516px;
  height: 268px;
}

.process-content .image img {
  border-radius: 20px;
}

.process .button-container {
  margin-top: 0;
}

.developers-content {
  margin-top: 40px;
  position: relative;
}

.developers-carousel .carousel-item {
  position: relative;
  width: 196px;
}

.developers-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.developers-overlay::before,
.developers-overlay::after {
  background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
  pointer-events: none;
  touch-action: none;
}

.developers-overlay::before {
  left: 0;
  top: 0;
}

.developers-overlay::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.portfolio-card {
  position: relative;
}

.card-tag {
  position: absolute;
  z-index: 12;
  top: 16px;
  right: 16px;
  color: white;
  border-radius: 36px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 16px;

  padding: 5px 10px;
}

.card-tag img {
  margin-left: 4px;
}

.card-tag--blue {
  background: rgba(1, 59, 148, 1);
}

.card-tag--green {
  background: rgba(0, 130, 52, 1);
}

.card-tag--red {
  background: rgba(208, 90, 35, 1);
}

.portfolio-card {
  width: 516px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(221, 230, 241, 1);
}

.portfolio-card-gallery {
  position: relative;
  height: 296px;
}

.portfolio-card-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

.portfolio-card-item img {
  display: none;
}

.portfolio-card-item img.active {
  display: block;
  animation: fadeIn 3s ease-out;
}

.portfolio-card-item--top {
  right: 0;
  top: 0;
  left: unset;
  width: 50%;
  height: 50%;
  z-index: 2;
}

.portfolio-card-item--bottom {
  right: 0;
  bottom: 0;
  left: unset;
  top: unset;
  width: 50%;
  height: 50%;
  z-index: 2;
}

.portfolio-card {
  border-radius: 20px;
  overflow: hidden;
  color: rgba(0, 0, 0, 1);
}

.portfolio-card-info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.portfolio-card-title {
  display: flex;
  flex-direction: column;
}

.portfolio-card-title strong {
  font-size: 20px;
}

.portfolio-card-title span {
  opacity: 0.8;
}

.contact.accent {
  background-color: #ecf1f3;
}

.portfolio-card-parameters {
  color: rgba(0, 0, 0, 1);
  justify-content: flex-start;
  opacity: 0.8;
}

.portfolio-card-parameters li {
  margin-left: 43px;
  position: relative;
}

.portfolio-card-parameters li::before {
  content: "";
  position: absolute;
  left: -22px;
  width: 2px;
  height: 100%;
  background: rgba(217, 217, 217, 1);
  z-index: 12;
}

.portfolio-card-parameters li:last-of-type::before {
  display: none;
}

.badges {
  justify-content: flex-start;
  align-items: center;
}

.badge {
  background: rgba(243, 246, 249, 1);
  border-radius: 36px;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  color: rgba(44, 61, 104, 1);
}

.portfolio .badge {
  margin-left: 10px;
}

.badge img {
  margin-left: 7px;
}

.portfolio-content ul {
  margin-top: 54px;
}

.rating-stars {
  width: 111px;
}

.rating-wrapper {
  text-align: center;
}

.rating {
  background: rgba(255, 255, 255, 1);
  border-radius: 6.3px;
  box-shadow: 15.96px 11.17px 31.92px 0px rgba(0, 0, 0, 0.08);

  border-top: 3.2px solid rgba(52, 168, 83, 1);
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 12px 21px;
}

.rating-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: flex-end;
}

.rating-accent {
  color: rgba(254, 165, 0, 1);
}

.rating-info > strong {
  font-size: 12.5px;
  color: rgba(106, 106, 106, 1);
}

.rating-info > span {
  font-size: 10px;
  color: rgba(134, 134, 134, 1);
}

.rating-accent strong {
  margin-right: 12px;
}

section.investors .container > h2 {
  margin-bottom: 35px;
}

.investors-content ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 32px;
  color: black;
}

.investors-content {
  margin-top: 55px;
}

.investors-content ul li {
  border-radius: 30px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
  padding: 27px 21px;
}

.investor-card-person__name {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.investor-card-person img {
  border-radius: 50%;
}

.investor-card-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.investor-card-rating img {
  margin-top: 16px;
}

.investor-card-person__name strong {
  font-size: 22px;
  line-height: 44px;
  font-weight: 400;
}

.investor-card-person__name span {
  color: rgba(113, 114, 118, 1);
  font-size: 16px;
  font-weight: 500;
}

.investor-card__separator {
  width: 100%;
  height: 1px;
  background: rgba(233, 239, 245, 1);
  margin: 24px 0;
}

.investors-view {
  margin-top: 90px;
  height: 692px;
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
}

.investors-view .video-background {
  z-index: -2;
}

.investors-view::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    178.82deg,
    rgba(0, 0, 0, 0) 15.03%,
    rgba(0, 0, 0, 0.39) 102.84%
  );
}

.investors-view-composition {
  margin: auto;
  text-align: center;
}

.investors-view-composition h2 {
  font-size: 84px;
  font-weight: 700;
  line-height: 94px;
  width: 85%;
  margin: auto;
}

.investors-view-composition p {
  margin: 20px 0 32px 0;
  font-size: 32px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 23px;
}

section.contact .container > h2 {
  margin: auto;
}

section.contact .container > p {
  font-size: 32px;
  color: black;
}

.contact form {
  width: 512px;
  text-align: center;
}

.contact form .form-group {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.contact form .form-group:last-of-type {
  margin-bottom: 0;
}

.contact form .form-group > input,
.contact form .form-group > select,
.react-tel-input .form-control {
  background: rgba(255, 255, 255, 1) !important;
  border-radius: 10px !important;
  border: 1px solid #0000001f !important;
  width: 100%;
  min-height: 59px;
  padding: 7px 20px;
}

.contact form .form-group > input:focus,
.contact form .form-group > input:active,
.react-tel-input .form-control:active,
.react-tel-input .form-control:focus,
.contact form .form-group > select:focus {
  border: 2px solid #0000001f !important;
  outline: none;
}

.contact form .form-group > *::placeholder,
.contact form .form-group select {
  color: #333;
}

.arrow-down-icon {
  position: absolute;
  left: 10px;
  top: 45%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

select::-ms-expand {
  display: none !important;
}

.contact form input[type="date"] {
  padding-left: 40px;
}

.contact form p {
  font-size: 16px;
  padding: 20px 0;
  text-align: center;
}
.contact h3 {
  margin-bottom: 15px;
  font-size: 30px;
}

.contact form button {
  float: right;
  margin-top: 15px;
}

footer {
  background: rgba(44, 61, 104, 1);
  position: relative;
  color: white;
  padding: 85px 0;
  font-size: 16px;
  z-index: 1;
}

.footer__top {
  align-items: flex-start;
}

footer::before,
footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  background-image: url("../public/assets/left-footer-decor.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

footer::after {
  background-image: url("../public/assets/right-footer-decor.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}

.footer-statement {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-navigation {
  margin: 20px 0;
}

.footer-navigation li {
  font-size: 20px;
  font-weight: 400;
  margin: 0 20px;
  cursor: pointer;
}

.footer-navigation li:last-of-type {
  margin-right: 0;
}
.footer-navigation li:first-of-type {
  margin-left: 0;
}

.footer-flags li {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  color: black;
  padding: 5px 10px;
  margin-left: 18px;
}

.footer-flags li:last-of-type {
  margin-left: 0;
}

.footer-flags li img {
  margin-right: 6px;
}

.footer-statement p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}

.footer-statement img {
  margin: 0 auto;
}

.footer-navigation {
  flex-direction: row-reverse;
}

.footer__top {
  border-bottom: 1px solid rgba(69, 95, 160, 1);
  padding-bottom: 4px;
}

.footer-contacts {
  align-items: flex-start;
  gap: 50px;
}

.footer-contacts__item {
  width: 242px;
}

.footer-contacts h3 {
  margin-bottom: 15px;
}

.footer-contacts__item .address {
  margin: 8px 0;
}

.footer-contacts__item ul {
  list-style-type: disc;
  padding-right: 20px;
  margin: 8px 0;
}

.footer__links {
  text-align: center;
  margin-top: 40px;
}

.footer__links ul {
  width: 346px;
  margin: 20px auto auto auto;
  flex-direction: row-reverse;
}

.footer__links ul li {
  cursor: pointer;
}

ul.Errors {
  color: red;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  list-style-type: disc;
  margin: auto;
  display: inline-block;
  margin: -20px 0 20px 0;
}

.contact form.error .form-group > input,
.contact form.error .form-group > select {
  border: 1px solid red;
}

button[type="submit"] {
  position: relative;
  height: 50px;
}

.loader {
  width: 38px;
  height: 38px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 1s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

form.success button[type="submit"] {
  background: rgba(0, 130, 52, 1);
  color: white;
}

.whatsappBtn {
  position: fixed;
  right: 40px;
  width: 5rem;
  height: 5rem;
  bottom: 20px;
  z-index: 124;
  animation: bounce 1.4s infinite;
}

.react-tel-input .special-label {
  display: none;
}

.phone-input {
  width: 100% !important;
  height: 45px !important;
}

.react-tel-input .form-control {
  /* padding-left: 0px !important;
  padding-right: 50px !important; */
  padding-left: 60px !important;
}

.react-tel-input .flag-dropdown {
  right: unset !important;
  left: 0 !important;
  width: 50px !important;
}

.react-tel-input .selected-flag:hover {
  background: #f5f5f5 !important;
  border-top-left-radius: 0.65rem !important;
  border-bottom-left-radius: 0.65rem !important;
}

.react-tel-input .selected-flag {
  width: 100% !important;
  padding-left: 0px !important;
}

.react-tel-input .selected-flag .flag {
  left: 10px !important;
}

.react-tel-input .selected-flag .arrow {
  left: 14px !important;
}

.react-tel-input .country-list .country {
  text-align: left;
}

.react-tel-input .country-list {
  /* right: 0 !important; */
  transform: translateX(90%) !important;
  /* left: 100% !important; */
}

.footer-contacts__item:nth-of-type(1) {
  width: calc(242px * 1.2);
}

.footer-contacts__item:nth-of-type(2) {
  width: calc(242px * 0.8);
}

.footer-statement > img {
  width: 276px;
  height: 138px;
}

.subtle-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(90deg);
  cursor: pointer;
}

.subtle-arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid rgba(255, 255, 255, 0.8);
  border-right: 5px solid rgba(255, 255, 255, 0.8);
  transform: rotate(45deg);
  margin: -7px;
  animation: animate 2.2s infinite;
}

.subtle-arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.subtle-arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

.hero-gallery-cotnainer .subtle-arrow {
  display: none;
}

.footer__links p {
  font-weight: bold;
  font-size: 18px;
}

.form-wrapper {
  height: 570px;
}

.form-wrapper > div {
  width: 50%;
  height: 100%;
}

.form-wrapper__text {
  padding-left: 110px;
  border-left: 1px solid rgba(221, 230, 241, 1);
}

.form-wrapper__form {
  padding-right: 110px;
}

.form-wrapper__text h2 {
  text-align: right;
  margin-bottom: 20px;
  font-size: 54px;
}
.form-wrapper__text p > strong {
  font-size: 36px;
  line-height: 40px;
}

.form-wrapper__text p {
  margin: 20px 0;
}

.whatsapp {
  margin-top: 50px;
}

.whatsapp.mob,
.contact-form-links.mob {
  display: none;
}
.elementor-button {
  background-color: #28a71b12;

  fill: #28a71b;
  color: #28a71b;
  border-style: solid;
  border-width: 1px;
  border-color: #28a71b;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 15px;
}

.elementor-button.blue {
  background-color: var(--accent-color);
  border-color: #e9f5fd;
  color: white;
  font-weight: bold;
}

.elementor-button:hover {
  background-color: #28a71b2b;
}

.elementor-button.blue:hover {
  background-color: var(--accent-color-light);
  color: white;
}

.elementor-button-icon {
  margin-left: 2px;
  position: relative;
  top: 5px;
}

.contact-form-links {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.contact-form-links li img {
  border-radius: 50%;
  /* position: relative;
  border-radius: 50%;
  width: 34px;
  height: 34px; */
}

.contact-form-links li:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.faq-wrapper {
  display: flex;
}

.faq-wrapper__text {
  width: 35%;
  padding-left: 50px;
}

.faq-wrapper__text h2 {
  font-size: 54px;
  text-align: right;
}

.faq-wrapper__qa {
  flex: 1;
}

.faq-wrapper__qa .accordion {
  background-color: #fff;
  margin: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #0000001f;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.06);
}

.whatsapp.vex > span {
  display: none;
}

.accordion__button {
  text-align: right !important;
  position: relative !important;
  border-width: 1px !important;
  border-color: #0000001f !important;
  background-color: #00000000 !important;
  padding: 24px !important;
  color: black !important;
}

.accordion__button:before {
  position: absolute;
  left: 30px !important;
  right: unset !important;
  transform: rotate(132deg) !important;
}

.accordion__panel p {
  opacity: 0.75 !important;
}

.accordion__button[aria-expanded="true"] {
  color: var(--accent-color) !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.accordion__button[aria-expanded="true"]:before {
  transform: rotate(45deg) !important;
  color: var(--accent-color) !important;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

@keyframes bounce {
  0%,
  to {
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    transform: translateY(-10%);
  }

  50% {
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transform: none;
  }
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}

@keyframes blured {
  0% {
    backdrop-filter: blur(16px);
  }
  50% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(16px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
