@media (max-width: 1700px) {
  /* .metrics ul li strong {
    font-size: calc(64px * 0.8);
  } */

  .container {
    width: 1340px;
  }

  .process-content .image {
    width: calc(516px * 0.8);
    height: calc(268px * 0.8);
  }

  .process-content ul li strong {
    line-height: 40px;
  }

  .process-text strong {
    display: block;
    text-align: center;
    height: 50%;
  }

  .process-text span {
    display: block;
    text-align: center;
    height: 50%;
    padding-top: 15px;
  }

  .developers-content .carousel-item img {
    width: 180px;
    height: 64px;
  }
}

@media (max-width: 1500px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 1140px;
  }

  .developers-content .carousel-item img {
    width: 160px;
    height: 57px;
  }

  h1,
  .investors-view-composition h2 {
    font-size: 68px;
    line-height: 78px;
  }

  .investors-view-composition p {
    font-size: 28px;
    padding: 0 20px;
  }

  .metrics .container {
    width: 1108px;
  }

  .hero-content p,
  section.contact .container > p {
    font-size: 26px;
    line-height: 32px;
  }

  .hero-gallery_item {
    width: 249px;
    height: 72px;
  }

  .hero-gallery-image {
    width: 35%;
  }

  button {
    font-size: 18px;
  }

  section {
    padding: calc(110px * 0.7) 0;
  }

  h2 {
    font-size: calc(84px * 0.7);
    line-height: calc(94px * 0.7);
  }

  .about-image img {
    width: calc(650px * 0.8);
    height: calc(553px * 0.8);
  }

  .about-content ul li strong {
    font-size: calc(32px * 0.8);
    line-height: calc(40px * 0.8);
  }

  .about-content .icon {
    width: calc(43px * 0.8);
    height: calc(43px * 0.8);
  }

  .process-content ul {
    gap: 50px 20px;
  }

  .process-content .image {
    width: calc(516px * 0.7);
    height: calc(268px * 0.7);
  }

  .portfolio-card {
    width: calc(516px * 0.7);
  }

  .portfolio-card-title strong {
    font-size: calc(32px * 0.7);
    line-height: calc(40px * 0.7);
  }

  .portfolio-content ul {
    margin-top: 20px;
  }

  .portfolio-card-parameters li {
    margin-left: 33px;
  }

  .investor-card-person__name strong,
  .footer-navigation li {
    font-size: 20px;
  }

  .investors-view {
    height: calc(692px * 0.8);
  }

  .footer-contacts {
    gap: 30px;
  }

  footer {
    padding: 50px 0;
  }

  .footer-contacts__item {
    width: calc(242px * 0.85);
  }

  .footer-statement > img {
    width: calc(276px * 0.8);
    height: calc(138px * 0.8);
  }

  .footer__links ul {
    width: calc(346px * 0.8);
  }

  .footer-contacts__item p,
  .footer-contacts__item li,
  .footer-flags li span {
    font-size: 14px;
  }

  .form-wrapper__text {
    padding-left: 60px;
  }

  .form-wrapper__form {
    padding-right: 60px;
  }
}

@media (max-width: 1150px) {
  h1 {
    width: 100%;
    text-align: center;
  }

  .container {
    width: 90%;
  }

  .developers-content .carousel-item img {
    width: 130px;
    height: 46px;
  }

  .metrics .container {
    width: unset;
  }

  .about-content {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .about-image img {
    margin: auto;
  }

  .process-content ul {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-content > ul {
    flex-direction: column;
    gap: 20px;
  }

  .portfolio-card {
    width: 400px;
  }

  .investors-content ul {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
  }

  .metrics ul {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .footer__top {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .footer-contacts {
    align-self: flex-start;
    margin-top: 30px;
  }

  .form-wrapper,
  .faq-wrapper {
    height: auto;
    flex-direction: column;
  }

  .form-wrapper > div,
  .faq-wrapper > div {
    width: 100%;
  }

  .form-wrapper__text,
  .faq-wrapper__text {
    border-left: none;
    padding-left: 0;
  }

  .form-wrapper__form,
  .faq-wrapper__qa {
    padding-right: 0;
  }

  .contact form {
    width: 100%;
  }

  .faq-wrapper__text {
    margin-bottom: 30px;
  }

  .whatsapp.vex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .whatsapp.vex > a {
    width: 50%;
    text-align: center;
  }

  .whatsapp.desk,
  .contact-form-links.desk {
    display: none;
  }

  .contact-form-links.mob {
    display: flex;
  }

  .whatsapp.mob {
    display: initial;
    margin-top: 30px;
  }

  .whatsapp.mob a {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .contact form button {
    width: 100%;
  }

  .faq-wrapper__text h2 {
    font-size: 43px;
  }
}

@media (max-width: 800px) {
  .process-content ul {
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }

  .form-wrapper__text h2 {
    font-size: 44px;
  }

  .form-wrapper__text p > strong,
  .contact h3 {
    font-size: 26px;
    line-height: 32px;
  }

  .hero-content p {
    width: 90%;
    font-size: 22px;
  }

  .footer-contacts {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .developers-content .carousel-item img {
    width: 100px;
    height: 36px;
  }

  .desk-only {
    display: none;
  }

  .hero-gallery {
    overflow-x: auto;
  }

  .top-line-content {
    flex-direction: row-reverse;
  }

  .investors-view-composition p {
    padding: 0;
  }

  .top-line a {
    font-size: 16px;
    padding: 11px 21px;
  }

  .hero-gallery {
    width: 90%;
    margin: auto;
  }

  .hero-gallery-cotnainer .subtle-arrow {
    display: initial;
    left: 30px;
    right: unset;
    top: 50%;
    transform: translate(0, -50%) rotate(90deg);
  }

  .hero-gallery-cotnainer .subtle-arrow.right {
    left: unset;
    right: 30px;
    transform: translate(0, -50%) rotate(270deg);
  }

  .hero-gallery {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
  }

  .hero-gallery-cotnainer .subtle-arrow span {
    width: 20px;
    height: 20px;
  }

  .hero-gallery_item {
    width: 260px;
    display: inline-flex;
    height: 92px;
    /* margin-left: 20px; */
  }

  .hero-gallery-text span {
    opacity: 0.8;
  }

  .metrics ul li strong {
    font-size: 43px;
    font-weight: 400;
  }

  .metrics ul li {
    align-items: center;
  }

  section {
    padding: 70px 0;
  }

  h2 {
    font-size: 43px;
    line-height: 53px;
    text-align: center;
  }

  .investors-content {
    margin-top: 40px;
  }

  section .container > p {
    font-size: 18px;
    line-height: 27px;
  }

  .about-image img {
    width: 100%;
    height: auto;
  }

  .about-content ul {
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(1, 1fr);
  }

  .about-content ul li {
    padding: 15px;
  }

  .about-content ul li strong {
    font-size: 22px;
  }

  .about-content ul li p {
    font-size: 18px;
  }

  .process-content {
    margin-top: 30px;
  }

  .process-content .image {
    width: 100%;
    height: 166px;
  }

  .process-content ul li strong {
    font-size: 22px;
  }

  .process-content ul li span {
    font-size: 16px;
  }

  .process .button-container {
    margin-top: 25px;
  }

  .developers-content {
    margin-top: 65px;
  }

  .portfolio-content > ul > li,
  .portfolio-card {
    width: 100%;
  }

  /* .portfolio-card,
  .portfolio-content > ul li {
    width: 100%;
  } */

  section.portfolio .container > p {
    margin: 15px 0 20px 0;
  }

  .badge {
    font-size: 14px;
  }

  .mob-only {
    display: block;
  }

  .investors-content ul {
    /* width: auto; */
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: block;
  }

  .investors-content ul li {
    width: 100%;
    display: inline-block;
    height: 272px;
    margin-left: 20px;
    padding: 15px;
  }

  .investors-content ul li:last-of-type {
    margin-left: 0;
  }

  .investor-card__text p {
    white-space: initial;
  }

  .investor-card-person__name strong {
    font-size: 18px;
    line-height: 32px;
  }

  .investor-card__separator {
    margin: 20px 0;
  }

  h1,
  .investors-view-composition h2 {
    font-size: 43px;
    line-height: 53px;
  }

  .investors-view-composition h2,
  .investors-view-composition p {
    width: 90%;
    margin: auto;
  }

  .investors-view-composition p {
    margin-bottom: 20px;
    font-size: 22px;
  }

  section.contact .container > p {
    font-size: 18px;
  }

  section.contact .container > h2,
  .contact form {
    width: 100%;
  }

  .footer__top,
  .footer-flags {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer-contacts {
    gap: 20px;
  }

  .footer__top {
    padding-bottom: 30px;
  }

  .footer-statement {
    align-items: flex-start;
  }

  .footer-navigation li {
    margin: 0 12px;
  }

  .footer-flags li {
    margin: 8px 0;
  }

  .footer-statement p {
    margin-bottom: 8px;
  }

  .footer-contacts__item {
    width: 100%;
  }

  footer {
    padding: 80px 0;
  }

  .whatsappBtn {
    right: 20px;
    width: 4rem;
    height: 4rem;
    bottom: 20px;
  }
}

@media (max-width: 400px) {
  .developers-content .carousel-item img {
    width: 90px;
    height: 32px;
  }

  .footer-navigation li,
  .investor-card-person__name strong {
    font-size: 17px;
  }

  .logo {
    width: 120px;
    height: 60px;
  }

  .top-line a {
    padding: 5px;
  }
}
